ul{
    list-style-type: none;
    color: yellowgreen;
    font-size: 25px;
}
ul ul{
    color: white;
    font-size: 18px;
    list-style-type: disc;
}
ol{
    list-style-type: upper-latin;
     color: white;
     font-size: 18px;
}

body{
    color: white;
    background-image: url(../images/cinema.avif);
    background-size:cover ;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-size: 50px;
}